<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Trang chủ</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

    <body>

        <div class="container">
            <div class="row" style="padding-top: 50px;">
                <div class="col-md-12">
                    <h2>Select databse</h2>
                    <br>
                    <!-- Nav pills -->
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#ass5">Ass5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#labs6">LabS6</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#ass6">Ass6</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#labs7">LabS7</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#labs8">LabS8</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 tab-content">
                    <div id="ass5" class="tab-pane active"><br>
                        <h3>Database Ass5</h3>
                        <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#ass5dh">Đơn Hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#ass5dhsp" onclick="loadDB()">Đơn Hàng
                                    SP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#ass5hh">Hàng Hóa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#ass5kh">Khách Hàng</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="ass5dh" class="tab-pane active"><br>
                                <h3>Bảng Đơn Hàng</h3>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã Số</th>
                                            <th>Ngày</th>
                                            <th>Tổng tiền</th>
                                            <th>Khách Hàng ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0;i<result.length;i++){ %>
                                            <tr>
                                                <td>
                                                    <%= result[i].MaSoDonHang %>
                                                </td>
                                                <td>
                                                    <%= result[i].Ngay %>
                                                </td>
                                                <td>
                                                    <%= result[i].TongTien %>
                                                </td>
                                                <td>
                                                    <%= result[i].KhachHangID %>
                                                </td>
                                                <td><a href="/chi-tiet-sp?id=<%= result[i].MaSP %>">Chi tiết</a> </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div id="ass5dhsp" class="tab-pane fade"><br>
                                <h3>Bảng Đơn Hàng SP</h3>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã Số</th>
                                            <th>Mã Sản Phẩm</th>
                                            <th>Số Lượng</th>
                                            <th>Thành Tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0;i<result.length;i++){ %>
                                            <tr>
                                                <td>
                                                    <%= result[i].MaSoDonHang %>
                                                </td>
                                                <td>
                                                    <%= result[i].MaSP %>
                                                </td>
                                                <td>
                                                    <%= result[i].SoLuong %>
                                                </td>
                                                <td>
                                                    <%= result[i].ThanhTien %>
                                                </td>
                                                <td><a href="/chi-tiet-sp?id=<%= result[i].MaSP %>">Chi tiết</a> </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div id="ass5hh" class="tab-pane fade"><br>
                                <h3>Bảng Hàng Hóa</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            <div id="ass5kh" class="tab-pane fade"><br>
                                <h3>Bảng Khách Hàng</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                        </div>
                    </div>

                    <div id="labs6" class="tab-pane fade"><br>
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="ass6" class="tab-pane fade"><br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="labs7" class="tab-pane fade"><br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="labs8" class="tab-pane fade"><br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>


            </div>
        </div>

        <script type="text/javascript">
            function loadDB() {
                $.ajax({
                    url: '/Ass5',
                    method: 'GET',
                    data: {
                        table: 'DonHangSP'
                    },
                    success: function (rs) {
                        var ct = `
                        <h3>Bảng Đơn Hàng SP</h3>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã Số</th>
                                            <th>Mã Sản Phẩm</th>
                                            <th>Số Lượng</th>
                                            <th>Thành Tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0;i<result.length;i++){ %>
                                            <tr>
                                                <td>
                                                    <%= result[i].MaSoDonHang %>
                                                </td>
                                                <td>
                                                    <%= result[i].MaSP %>
                                                </td>
                                                <td>
                                                    <%= result[i].SoLuong %>
                                                </td>
                                                <td>
                                                    <%= result[i].ThanhTien %>
                                                </td>
                                                <td><a href="/chi-tiet-sp?id=<%= result[i].MaSP %>">Chi tiết</a> </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                        `;
                        $("#ass5dhsp").append(ct);
                    }
                });
            }
        </script>
    </body>

</html>